<h1>Relevant Vulnerabilities for All Your Projects</h1>


<% if @relevant_vulnerabilities.count > 0 %>

<% @vulnerabilities = @relevant_vulnerabilities %>
<%= render 'shared/vulnerabilities' %>

<%= will_paginate %>

<br>
<br>
<p>
  <%= reaction_legend.html_safe %>
</p>

<% else %>

<p>No relevant vulnerabilities found in your projects. Try <%= link_to 'loading new vulnerabilities from NVD', nvd_update_path %> or 
adding systems to <%= link_to 'your projects', projects_path %>.</p>

<% end %>

<br>
