<h1>Relevant Vulnerabilities for All Your Projects</h1>


<% if @relevant_vulnerabilities.count > 0 %>

<table id="vulns">
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Why?</th>
      <th>Modified</th>
    </tr>
  </thead>

  <tbody>
    <% @relevant_vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= link_to_vulnerability vulnerability %></td>
        <td><%= vulnerability.summary[0..40] %> <%= link_to "...", vulnerability, style: "text-decoration: none;" %></td>
        <td><%= why_relevant(vulnerability, current_user).html_safe %></td>
        <td><%= vulnerability.modified.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<% else %>

<p>No relevant vulnerabilities found in your projects. Try <%= link_to 'loading new vulnerabilities from NVD', nvd_update_path %> or 
adding systems to <%= link_to 'your projects', projects_path %>.</p>

<% end %>

<br>
