<%= form_with(model: reaction, local: true) do |form| %>
  <% if reaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reaction.errors.count, "error") %> prohibited this reaction from being saved:</h2>

      <ul>
      <% reaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :vulnerability %>
    <%= form.text_field :vulnerability, id: :reaction_vulnerability, class: "form-control", value: name_or_nil(form.object.vulnerability) %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, all_statusses.each_with_index.map {|name, index| [name,index+1]}, id: :reaction_status, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :text, "Comment:" %>
    <%= form.text_area :text, id: :reaction_text, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
