<h1>Editing Reaction</h1>

<%= render 'form', reaction: @reaction %>

<%= link_to 'Show', @reaction %> |
<%= link_to 'My Reactions', reactions_path %>
<%= link_to 'All Vulnerabilities', vulnerabilities_path %>
<%= link_to 'Relevant Vulnerabilities', relevant_vulnerabilities_path %>
