<h3>Your reactions</h3>

<div class='container'>

<% if @reactions.any? %>

<table class="index_table table-striped">
  <thead>
    <tr>
      <th colspan="2">Vulnerability</th>
      <th>Component</th>
      <th>Comment</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reactions.each do |reaction| %>
      <tr>
        <td><%= link_to reaction.vulnerability.name, edit_reaction_path(reaction) %></td>
        <td><%= shorten(reaction.vulnerability.summary) %></td>
        <td class="affected_system"><%= render 'shared/affected_system', vulnerability: reaction.vulnerability %></td>
        <td><%= link_to shorten(reaction.text, 80), reaction, class: 'black_text_link' %></td>
        <td class="status"><%= link_to_react reaction.vulnerability %></td>
        <td><%= link_to 'Show', reaction %></td>
        <td><%= link_to 'Edit', edit_reaction_path(reaction) %></td>
        <td><%= link_to 'Delete', reaction, method: :delete, data: { confirm: 'Reaction will be deleted, status will be unkonwn. Is it what you want?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<p>
  No reactions yet.
</p>

<p>With reactions you express your attitude to vulnerabilities.</p>

<p>A good way to create reaction is clicking on a yellow status flag 
 next to a vulnerability in: 
    <%= link_to 'Relevant Vulnerabilities', relevant_vulnerabilities_path %> tab.
</p>


<% end %>
<br>

<%= link_to ' + New Reaction', new_reaction_path %>

<br>
<br>
<%= reaction_legend.html_safe %>

</div>
