<p id="notice"><%= notice %></p>

<h1>Reactions</h1>

<table class="index_table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Vulnerability</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reactions.each do |reaction| %>
      <tr>
        <td><%= link_to reaction.title, reaction %></td>
        <td><%= reaction.text[0..40] %> <%= link_to "...", reaction %></td>
        <td><%= link_to_vulnerability reaction.vulnerability %></td>
        <td class="status"><%= link_to_react reaction.vulnerability %></td>
        <td><%= link_to 'Show', reaction %></td>
        <td><%= link_to 'Edit', edit_reaction_path(reaction) %></td>
        <td><%= link_to 'Destroy', reaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reaction', new_reaction_path(:reaction => {:vulnerability => 'CVE-Users'}) %>
