<p>
  <strong>User:</strong>
  <%= @reaction.user.name %>
</p>

<p>
  <strong>Vulnerability:</strong>
  <%= link_to_vulnerability @reaction.vulnerability %>
</p>

<p>
  <strong>Status:</strong>
  <%= status_to_html_long(@reaction.status) %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @reaction.text %>
</p>

<%= link_to 'Edit', edit_reaction_path(@reaction), id: 'edit-button' %>


<div class='back-links'>
<%= link_to 'My Reactions', reactions_path %>
<%= render 'shared/back_links' %>
</div>
