<p>
  <strong>User:</strong>
  <%= @reaction.user.name %>
</p>

<p>
  <strong>Vulnerability:</strong>
  <%= link_to_vulnerability @reaction.vulnerability %>
</p>

<p>
  <strong>Status:</strong>
  <%= status_to_html_long(@reaction.status) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reaction.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @reaction.text %>
</p>

<%= link_to 'Edit', edit_reaction_path(@reaction) %> |
<%= link_to 'Back', reactions_path %>
