<%= render 'shared/last_update_nvd' %>

<table id="vulns" class="index_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last update</th>
      <th>Component</th>
      <th>Summary</th>
      <th colspan=3>View on</th>
      <th>Relevance</th>
      <th>Reaction</th>
    </tr>
  </thead>

  <tbody>
    <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= link_to_vulnerability vulnerability %></td>
        <td><%= time_ago_in_words(vulnerability.modified.to_datetime) + ' ago' %></td>
        <td class="affected_system">
          <%= render 'shared/affected_system', vulnerability: vulnerability %>
        </td>
        <td><%= link_to shorten(vulnerability.summary, 70), vulnerability, title: vulnerability.summary, 
                 class: 'black_text_link' %></td>
        <td><%= link_to_nvd(vulnerability) %></td>
        <td><%= link_to_cve_details(vulnerability) %></td>
        <td><%= link_to_google(vulnerability) %></td>
        <td class="relevance"><%= why_relevant(vulnerability, current_user).html_safe %></td>
        <td class="status">
           <%= link_to_react(vulnerability) %>            
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
