<%= render 'shared/last_update_nvd' %>

<% if @vulnerabilities.count == 0 %>

<p>No vulnerabilities were found.</p>
<p>Try to make the search criteria softer, update vulnerabilities
or add more systems to your projects.</p>

<% else %>

<table id="vulns" class="index_table table-striped">
  <thead>
    <tr>
      <th><%= sorting_link_to 'Name', 'name' %></th>
      <th><%= sorting_link_to 'Last update', 'modified' %></th>
      <th><%= sorting_link_to 'Component', 'affected_system', 
title: 'Vulnerabilities are tagged with the affected system\'s name.
Please, add the affected system\'s name here, if you know it.' %></th>
      <th title='Focus on a field, or click an icon in the next column to learn more.'>Summary</th>
      <th title='' colspan=3>Read more details on</th>
      <th title='Select a project above.

Estimated affected component in a project.'>Relevance</th>
      <th><%= sorting_link_to 'Reaction', 'reaction' %></th>
    </tr>
  </thead>

  <tbody>
    <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= link_to_vulnerability vulnerability %></td>
        <td><%= ago_helper(vulnerability.modified) %></td>
        <td class="affected_system">
          <%= render 'shared/affected_system', vulnerability: vulnerability %>
        </td>
        <td><%= link_to shorten(vulnerability.summary, 70), vulnerability, title: vulnerability.summary, 
                 class: 'black_text_link' %></td>
        <td><%= link_to_nvd(vulnerability) %></td>
        <td><%= link_to_cve_details(vulnerability) %></td>
        <td><%= link_to_google(vulnerability) %></td>
        <td class="relevance"><%= why_relevant(vulnerability, current_user).html_safe %></td>
        <td class="status">
           <%= link_to_react(vulnerability) %>            
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
