<%= render 'shared/last_update_nvd' %>

<table id="vulns" class="index_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Relevance?</th>
      <th>Reaction</th>
      <th>Modified</th>
    </tr>
  </thead>

  <tbody>
    <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= link_to_vulnerability vulnerability %></td>
        <td><%= vulnerability.summary[0..40] %> <%= link_to "...", vulnerability, style: "text-decoration: none;" %></td>
        <td><%= why_relevant(vulnerability, current_user).html_safe %></td>
        <td class="status">
           <%= link_to_react(vulnerability) %>            
        </td>
        <td><%= vulnerability.modified.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
