<%= render 'shared/last_update_nvd' %>

<table id="vulns" class="index_table">
  <thead>
    <tr>
      <th><%= sorting_link_to 'Name', 'name' %></th>
      <th><%= sorting_link_to 'Last update', 'modified' %></th>
      <th><%= sorting_link_to 'Component', 'affected_system' %></th>
      <th title='No sorting on Summary'>Summary</th>
      <th title='No sorting on "View on"' colspan=3>View on</th>
      <th title='Pick a project above instead of sorting'>Relevance</th>
      <th><%= sorting_link_to 'Reaction', 'reaction' %></th>
    </tr>
  </thead>

  <tbody>
    <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= link_to_vulnerability vulnerability %></td>
        <td><%= ago_helper(vulnerability.modified) %></td>
        <td class="affected_system">
          <%= render 'shared/affected_system', vulnerability: vulnerability %>
        </td>
        <td><%= link_to shorten(vulnerability.summary, 70), vulnerability, title: vulnerability.summary, 
                 class: 'black_text_link' %></td>
        <td><%= link_to_nvd(vulnerability) %></td>
        <td><%= link_to_cve_details(vulnerability) %></td>
        <td><%= link_to_google(vulnerability) %></td>
        <td class="relevance"><%= why_relevant(vulnerability, current_user).html_safe %></td>
        <td class="status">
           <%= link_to_react(vulnerability) %>            
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
