<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description, 
        class: "form-control", rows: "10", 
        placeholder: "# Your subsystems, one per line. Comments # and blank lines are supported", 
        title: "Example:\n# Perl and modules\nperl\nlibxml\n\n# OpenBSD and ports\nOpenBSD\nfirefox"  \
      %>
      
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
