
<div class="container">
<p>Your Projects</p>

<% if current_user.projects.count > 0 %>

<table class="table table-responsive table-striped">
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td class="project_name"><%= link_to project.name, project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Delete project', project, method: :delete, 
                 data: { confirm: 'Do you really want to delete ' + project.name + '?  - This can not be undone.' } 
              %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' + New Project', new_project_path %>
<br>
<br>
<br>
<br>
<br>
<%= link_to "View Relevant Vulnerabilities", relevant_vulnerabilities_path, class: "btn btn-primary" %>

<% else %>
<p>You do not have any projects yet.</p>
<p>Please, create a project to track vulnerabilities within its components.</p>

<%= link_to 'Create First Project', new_project_path, class: 'btn btn-primary' %>
<% end %>


</div>
