<a id="top"></a>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>


<p>
<strong>Actions</strong>
<div class="actions">
<%= link_to 'Edit', edit_project_path(@project), class: 'btn' %>
<%= link_to 'Back', projects_path, class: 'btn'%>
<%= link_to "View Relevant Vulnerabilities", relevant_vulnerabilities_path, class: "btn btn-primary" %>
</div>
</p>

<p>
  <strong>All components:</strong>
  <div class="systems_sorted"><%= @project.systems.sort.join(', ') %></div>
</p>

<p>
  <strong>Components as you have described them:</strong>
  <pre><code class="project-systems-description"><%=@project.systems_description%></code></pre>
</p>

<br>
<%= link_to 'Edit', edit_project_path(@project), class: 'btn' %> |
<%= link_to 'Back', projects_path, class: 'btn'%> |
<a href="#top" class='btn'>Go to top</a>
