<%= form_with(model: vulnerability, local: true) do |form| %>
  <% if vulnerability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vulnerability.errors.count, "error") %> prohibited this vulnerability from being saved:</h2>

      <ul>
      <% vulnerability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :affected_system %>
    <%= form.text_field :affected_system, id: :vulnerability_affected_system %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
