<%= form_with(model: vulnerability, local: true) do |form| %>
  <% if vulnerability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vulnerability.errors.count, "error") %> prohibited this vulnerability from being saved:</h2>

      <ul>
      <% vulnerability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :vulnerability_name %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :vulnerability_summary %>
  </div>

  <div class="field">
    <%= form.label :created %>
    <%= form.datetime_select :created, id: :vulnerability_created %>
  </div>

  <div class="field">
    <%= form.label :modified %>
    <%= form.datetime_select :modified, id: :vulnerability_modified %>
  </div>

  <div class="field">
    <%= form.label :affected_system, "Component:" %>
    <%= form.text_field :affected_system, id: :vulnerability_affected_system %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
