<h1>All  Vulnerabilities</h1>

<p>

<%= form_tag vulnerabilities_path, method: :get, class: 'search' do  %>
 
 <%= text_field_tag :search, 
   params[:search], id: "vulnerabilities_search", 
   class: "form-control short-search", placeholder: "Search names or words in summary" %>
 <%= submit_tag 'Search', class: 'search-button' %>
 <%= link_to 'Reset', vulnerabilities_path, class: 'btn reset-search-btn' %>
<% end %>

</p>

<%= render 'shared/vulnerabilities' %>

<%= will_paginate %>

<br>
<br>
<p>
  <%= reaction_legend %>
</p>

<br>
<%= link_to "Show Relevant Vulnerabilities", relevant_vulnerabilities_path, class: 'btn btn-primary'%>

<br>
