<h1>All  Vulnerabilities</h1>

<%= link_to "Update from NVD", nvd_update_path, class: 'btn btn-primary', id: 'update'%>

<table id="vulns">
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Published</th>
      <th>Modified</th>
    </tr>
  </thead>

  <tbody>
    <% @vulnerabilities.each do |vulnerability| %>
      <tr>
        <td><%= link_to vulnerability.name, vulnerability %></td>
        <td><%= vulnerability.summary[0..60] + "..." %></td>
        <td><%= vulnerability.created.to_date %></td>
        <td><%= vulnerability.modified.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vulnerability', new_vulnerability_path %>
