<p>
  <strong>Name:</strong>
  <%= @vulnerability.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @vulnerability.summary %>
</p>

<p>
  <strong>Published:</strong>
  <%= @vulnerability.created %>
</p>

<p>
  <strong>Modified:</strong>
  <%= @vulnerability.modified %>
</p>

<p>
  <strong>Component:</strong>
  <%= @vulnerability.affected_system.nil? ? "not explicitly known" : @vulnerability.affected_system %>
</p>

<p>
  <strong>Reaction:</strong>
  <%= link_to_react(@vulnerability) %>
</p>

<p>
  <strong>View on:</strong>
  <%= link_to_nvd(@vulnerability) %>
  <%= link_to_cve_details(@vulnerability) %>
  <%= link_to_google(@vulnerability) %>
</p>

<br>
<%= link_to 'Edit', edit_vulnerability_path(@vulnerability), class: 'btn' %> | 
<%= link_to 'Back', vulnerabilities_path, class: 'btn' %>

