<div class="container">

<p>
  <strong>Name:</strong>
  <%= @vulnerability.name %>
</p>

<p>
  <strong>Summary:</strong>
  <div class="vulnerability-summary">
  <pre><code><%= @vulnerability.summary %></code></pre>
  </div>
</p>


<div class="continue-research">
  <strong>Continue research on:</strong>
  <%= link_to_nvd(@vulnerability) %>
  <%= link_to_cve_details(@vulnerability) %>
  <%= link_to_google(@vulnerability) %>
</div>


<p>
  <strong>Published:</strong>
  <%= @vulnerability.created %>
</p>

<p>
  <strong>Modified:</strong>
  <%= @vulnerability.modified %>
</p>

<p>
  <strong>Component:</strong>
  <%= (@vulnerability.affected_system.nil? or @vulnerability.affected_system.blank?) ? "not explicitly known" : @vulnerability.affected_system %>
  &nbsp; - &nbsp;  <%= link_to 'add', edit_vulnerability_path(@vulnerability), class: 'add-component-link'  %>

</p>

<p>
  <strong>Reaction:</strong>
  <%= link_to_react(@vulnerability) %>
</p>


<div class='back-links'>
<%= render 'shared/back_links' %>
</div>

</div>
