<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vulnerability.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @vulnerability.summary %>
</p>

<p>
  <strong>Published:</strong>
  <%= @vulnerability.created %>
</p>

<p>
  <strong>Modified:</strong>
  <%= @vulnerability.modified %>
</p>

<p>
  <%= link_to_nvd(@vulnerability) %>
</p>

<%= link_to 'Back', vulnerabilities_path %>
