<h3>Tag</h3>
<p>
  <strong>Component affected by vulnerability:</strong>
  <%= @tag.component %>
</p>

<p>
  <strong>Vulnerability:</strong>
  <%= link_to_vulnerability @tag.vulnerability %>
</p>

<div class="vulnerability-summary"><%= @tag.vulnerability.summary %></div>



<p>
  <strong>By:</strong>
  <%= @tag.user.name %>
</p>

<% if can? :edit, @tag %>
<%= link_to 'Edit', edit_tag_path(@tag), id: 'edit-button' %>
<% end %>

<% if can? :destroy, @tag %>
<%= link_to 'Delete', @tag, method: :delete, data: { confirm: 'Are your sure you want to delete this tag?' }, id: 'delete-button' %>
<% end %>

<div class='back-links'>
<%= render 'shared/back_links' %>
</div>
