- content_for :top_content do
  %div.jumbotron
    %div.container
      %h1
        ζάχαρη - Καφές έρχεται αργότερα
      %p
        %em
          Sahare is just sugar, coffee will be served later.


- if ! user_signed_in?
  %p
    Register or sign in to get started:
    = link_to 'Register', new_user_registration_path, class: 'btn btn-lg'
    = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-lg'
- else
  %p
    = "Welcome #{current_user.name.split(' ')[0]}!" 
  %p
    Here is your dashboard:
  %p
    = link_to "View Vulnerabilities", vulnerabilities_path, class: 'btn btn-primary'
    = link_to "Relevant Vulnerabilities", relevant_vulnerabilities_path, class: 'btn'
    = link_to "New Vulnerabilities from NVD", nvd_update_path, class: 'btn', id: 'update'
      
