- content_for :top_content do
  - if ! user_signed_in?
    = image_tag 'vulnswatch.800.png', class:'img-fluid mx-auto d-block'
    %h2.h2.text-center.mt-2 vulnswatch - never miss a CVE again!
    %p
      = link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg'
      = link_to 'Sign in', new_user_session_path, class: 'btn btn-lg'
  - else
    %p
      = "Welcome #{current_user.name.split(' ')[0]}!" 
    %p
      Here is the way to go:
    %p
      - if current_user.projects.count == 0
        = link_to "Create your first project", new_project_path, class: 'btn btn-primary'
      - else
        = link_to "View my Projects", projects_path, class: 'btn'
        = link_to "Relevant Vulnerabilities", relevant_vulnerabilities_path, class: 'btn btn-primary'
        = link_to "All Vulnerabilities", vulnerabilities_path, class: 'btn'
        = link_to "My Reactions", reactions_path, class: 'btn'
  
